<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibLog" version="4.2.6" targetFramework="net47" developmentDependency="true" />
  <package id="Serilog" version="2.6.0" targetFramework="net47" />
  <package id="Serilog.Sinks.TextWriter" version="2.1.0" targetFramework="net47" />
</packages>