<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxy" type="Keeker.Core.ProxySection, Keeker.Core"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>



  <connectionStrings>
    <add name="trial" connectionString="" />
  </connectionStrings>

  <proxy >
    <listeners>
      <add id="std-ssl"
           address="127.0.0.1"
           port="443"
           isActive="true">

        <hosts>
          <add externalHostName="wwww.rho.me"
               isActive="true">
            <redirect to="rho.me" />
          </add>

          <add externalHostName="rho.me"
               isActive="true">
            <targets>
              <add id="dev"
                   isActive="true"
                   domesticHostName="localhost"
                   address="127.0.0.1"
                   port="53808" />

              <add id="prod"
                   isActive="false"
                   domesticHostName="rho.me"
                   address="127.0.0.1"
                   port="80" />

            </targets>

            <certificate filePath="c:\certs\rho.me.pfx"
                         password="doresaq1488" />
          </add>
        </hosts>
      </add>
    </listeners>    
  </proxy>

</configuration>