<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxy" type="Keeker.Core.ProxySection, Keeker.Core"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>



  <connectionStrings>
    <add name="trial" connectionString="" />
  </connectionStrings>

  <proxy address="127.0.0.1" port="443" >
    <hosts>
      <add externalHostName="rho.me">
        <targets>
          <add id="dev"
               isActive="false"
               domesticHostName="localhost"
               address="127.0.0.1"
               port="53808" />

          <add id="prod"
               isActive="true"
               domesticHostName="rho.me"
               address="127.0.0.1"
               port="80" />

        </targets>

        <certificate filePath="c:\certs\rho.me.pfx"
                     password="doresaq1488" />
      </add>
    </hosts>
  </proxy>

</configuration>