<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="proxy" type="Keeker.Convey.Conf.ProxySection, Keeker.Convey"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>

  <connectionStrings>
    <add name="trial" connectionString="" />
  </connectionStrings>

  <proxy>
    <certificates>
      <add id="rho"
           filePath="c:\certs\rho.me.pfx"
           password="doresaq1488" >
        <domains>
          <add name="rho.me" />
        </domains>
      </add>
    </certificates>
    
    <listeners>
      <add id="std-ssl"
           endPoint="127.0.0.1:443"
           isHttps="true">
        <hosts>
          <add externalHostName="rho.me"
               domesticHostName="localhost"
               endPoint="127.0.0.1:53808"
               certificateId="rho" />
        </hosts>

      </add>
    </listeners>
  </proxy>

</configuration>